.nav-container {
    background-color: #157A6E;
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='100' viewBox='0 0 18 100'%3E%3Cpath fill='%2309302c' fill-opacity='0.5' d='M0 61.82c1.45 3.47 3.78 6.86 7.34 11.3 3.9 4.45 5.56 6.79 7.24 10.32C16.84 88.56 18 93.75 18 100h-6.16c-.11-1.24-.16-2.57-.16-4.01 0-9.59-2.23-14.23-9.34-23.13-1.03-1.28-1.9-2.39-2.66-3.4V61.82zm0-23.64V22.52c.76-1 1.63-2.1 2.66-3.4 7.04-7.55 9.56-12.04 10.18-19.12H18c0 6.25-1.16 11.44-3.42 16.14-1.7 3.53-3.35 5.87-7.24 10.73-3.56 4.45-5.9 7.84-7.34 11.31zM0 61.82v7.66c1.44-2.17 2-5.73 2-10.52 0-4.8-.56-8.35-2-11.82V61.82z'/%3E%3C/svg%3E");
    background-size: contain;

}

.nav-menu a.active {
    background-color: #1E9E8A;
    border-radius: 0.6vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    color: #FFDE59;
    font-weight: bold;
}
.nav-menu a.active:hover .icon {
    background-color: white;
}

.nav-menu a.active .icon {
    background-color: #FFDE59;
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0.8vw;
    transition: all 0.3s ease;
    color: white;
}

.nav-menu a:hover {
    background-color: #0d5d54;
    color: white;
    border-radius: 0.6vw;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-menu a span {
    font-size: 0.9vw;
    margin-top: 0.3vw;
    transition: font-size 0.3s;
    text-align: center;
}

.icon {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #A1EF8B;
    transition: transform 0.3s;
}

.nav-menu a:hover .icon {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .nav-container {
        bottom: 0;
        left: 0;
        top: auto;
        width: 100vw;
        height: 10vh;
    }

    .nav-menu {
        flex-direction: row;
        gap: 6vw;
    }

    .nav-menu a {
        padding: 1vw 0.5vw;
    }

    .nav-menu a span {
        font-size: 3vw;
        margin-top: -1vw;
    }

    .icon {
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width: 769px) {
    .nav-container {
        top: 0;
        left: 0;
        width: 6vw;
        height: 100vh;
    }

    .nav-menu {
        flex-direction: column;
        gap: 2vw;
        margin-top: 4vw;
    }
}


.ic-home {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 19v-9q0-.475.213-.9t.587-.7l6-4.5q.525-.4 1.2-.4t1.2.4l6 4.5q.375.275.588.7T20 10v9q0 .825-.588 1.413T18 21h-3q-.425 0-.712-.288T14 20v-5q0-.425-.288-.712T13 14h-2q-.425 0-.712.288T10 15v5q0 .425-.288.713T9 21H6q-.825 0-1.412-.587T4 19'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic-apps {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15 7.29V3c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v4.29c0 .13.05.26.15.35l2.5 2.5c.2.2.51.2.71 0l2.5-2.5c.09-.09.14-.21.14-.35M7.29 9H3c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h4.29c.13 0 .26-.05.35-.15l2.5-2.5c.2-.2.2-.51 0-.71l-2.5-2.5A.48.48 0 0 0 7.29 9M9 16.71V21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-4.29a.47.47 0 0 0-.15-.35l-2.5-2.5c-.2-.2-.51-.2-.71 0l-2.5 2.5c-.09.09-.14.21-.14.35m7.35-7.56l-2.5 2.5c-.2.2-.2.51 0 .71l2.5 2.5c.09.09.22.15.35.15H21c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1h-4.29a.45.45 0 0 0-.36.14'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic-music {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M18.671 3.208A2 2 0 0 1 21 5.18V17a4 4 0 1 1-2-3.465V9.18L9 10.847V18q0 .09-.015.174A3.5 3.5 0 1 1 7 15.337v-8.49a2 2 0 0 1 1.671-1.973zM9 8.82l10-1.667V5.18L9 6.847z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic-videos {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 8H2v12a2 2 0 0 0 2 2h12v-2H4z'/%3E%3Cpath fill='%23000' d='M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2m-9 12V6l7 4z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic-books {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 18H9a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1v5l2-1.5L14 7V2h5a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2m-2 2v2H5a2 2 0 0 1-2-2V6h2v14z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}