<div class="nav-container">
    <nav class="nav-menu">
        <a routerLink="/home" routerLinkActive="active">
            <img class="ic-home icon" />
            <span>Inicio</span>
        </a>
        <a routerLink="/application" routerLinkActive="active">
            <img class="ic-apps icon" />
            <span>Apps</span>
        </a>
        <a routerLink="/music" routerLinkActive="active">
            <img class="ic-music icon" />
            <span>Música</span>
        </a>
        <a routerLink="/videos" routerLinkActive="active">
            <img class="ic-videos icon" />
            <span>Vídeos</span>
        </a>
        <a routerLink="/books" routerLinkActive="active">
            <img class="ic-books icon" />
            <span>Libros</span>
        </a>
    </nav>
</div>